<body>
  <h1>Admin Profile</h1>

  <section>
    <p>Name: <%= @admin.name%></p>
    <p>Screen Name: <%= @admin.screen_name%></p>
    <p>Contact: <%= @admin.email%></p>
  </section>

  <section>
    <h1><%= link_to 'Add a color to the Chromotherapy database', new_admin_color_path(@admin) %></h1>
    <h1>Colors Added by <%= @admin.name %>
    <table>
      <tr>
        <th>Name</th>
        <th>Hex Value</th>
      </tr>
    <% @admin.colors.each do |color| %>
      <tr id="color-<%= color.id %>">
        <td><%= link_to color.name, color_path(color)%></td>
        <td bgcolor="<%= color.hex_value%>"><%= color.hex_value %></td>
        <td><%= link_to 'Delete', color_path(color), method: 'DELETE' %></td>
      </tr>
    <% end %>
    </table>
  </section>

</body>