<body>
  <h1>Admin Profile</h1>

  <section>
    <p>Name: <%= @admin.name%></p>
    <p>Screen Name: <%= @admin.screen_name%></p>
    <p>Contact: <%= @admin.email%></p>
  </section>

  <section>
    <h1><%= link_to 'Add a color to the Chromotherapy database', new_admin_color_path(@admin) %></h1>
    <h1>Colors Added by <%= @admin.name %>
    <table>
      <tr>
        <th>Name</th>
        <th>Hex Value</th>
      </tr>
    <% @admin.colors.each do |color| %>
      <tr id="color-<%= color.id %>">
        <td><%= link_to color.name, color_path(color)%></td>
        <td bgcolor="<%= color.hex_value%>"><%= color.hex_value %></td>
        <td><%= link_to 'Delete', admin_color_path(@admin, color), method: 'DELETE', data: {confirm: "Really delete #{color.name}"}  %></td>
        <td><%= link_to 'Edit', edit_admin_color_path(@admin, color), method: 'GET' %></td>
      </tr>
    <% end %>
    </table>
  </section>

  <section>
    <h1><%= link_to 'Add a reaction to the Chromotherapy database', new_admin_reaction_path(@admin) %></h1>
    <h1>Reactions Added by <%= @admin.name %>
    <table>
      <tr>
        <th>Word</th>
        <th>Definition</th>
      </tr>
    <% @admin.reactions.each do |reaction| %>
      <tr id="reaction-<%= reaction.id %>">
        <td><%= link_to reaction.word, reaction_path(reaction)%></td>
        <td><%= reaction.definition%></td>
        <td><%= link_to 'Delete', admin_reaction_path(@admin, reaction), method: 'DELETE', data: {confirm: "Really delete #{reaction.word}"}  %></td>
        <td><%= link_to 'Edit', edit_admin_reaction_path(@admin, reaction), method: 'GET' %></td>
      </tr>
    <% end %>
    </table>
  </section>

</body>