<style>
#grad {
  background: linear-gradient(to bottom right, <%= Color.all[rand(1..Color.count)].hex_value %>, <%= Color.all[rand(1..Color.count)].hex_value %>);
}
</style>
<section id="grad" class="hero is-white is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-white">New Account</h3>
                    <p class="subtitle has-text-white">Your email will be used to log in after signing up.</p>
                    <div class="box">
                        <%= form_for @user do |f| %>
                            <div class="field">
                                <div class="control">
                                  <%= f.label :email %>
                                  <%= f.text_field :email, class: "input is-large",placeholder: "Your Email"  %>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                  <%= f.label :name %>
                                  <%= f.text_field :name, class: "input is-large", placeholder: "Your Name"  %>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                  <%= f.label :password %>
                                  <%= f.password_field :password, class: "input is-large", placeholder: "password"  %>
                                </div>
                            </div>
                            <%= f.submit 'sign up', class: "button is-block is-info is-large is-fullwidth" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </section>
<script async type="text/javascript" src="../js/bulma.js"></script>