<section class="hero is-small is-success is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
        <h1 class="title">
        Welcome, <%=@user.name%>!
        </h1>
        <h2 class="subtitle">
        ...
        </h2>
    </div>
  </div>
</section>

<section>
    <h1>Your Color Surveys</h1>
    <table class="table">
      <tr>
        <th>Color</th>
        <th>Reaction</th>
      </tr>
    <% @user.surveys.each do |survey| %>
      <tr id="survey-<%= survey.id %>">
        <td><%= survey.color.name%></td>
        <td><%= survey.reaction.word%></td>
      </tr>
    <% end %>
    </table>
  </section>

<section>
    <h1><%= link_to 'Add a color to the Chromotherapy database', new_user_color_path(@user) %></h1>
    <h1>Colors Added by <%= current_user.name %>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Hex Value</th>
      </tr>
    <% @user.colors.each do |color| %>
      <tr id="color-<%= color.id %>">
        <td><%= link_to color.name, color_path(color)%></td>
        <td bgcolor="<%= color.hex_value%>"><%= color.hex_value %></td>
        <% if current_user.id == @user.id %>
        <td><%= link_to 'delete', user_color_path(@user, color), method: 'DELETE', data: {confirm: "Really delete #{color.name}"}  %></td>
        <td><%= link_to 'edit', edit_user_color_path(@user, color), method: 'GET' %></td>
        <% end %>
      </tr>
    </table>
  </section>

  <section>
    <h1><%= link_to 'Add a reaction to the Chromotherapy database', new_user_reaction_path(@user) %></h1>
    <h1>Reactions Added by <%= @user.name %>
    <table class="table">
      <tr>
        <th>Word</th>
        <th>Definition</th>
      </tr>
    <% @user.reactions.each do |reaction| %>
      <tr id="reaction-<%= reaction.id %>">
        <td><%= link_to reaction.word, reaction_path(reaction)%></td>
        <td><%= reaction.definition%></td>
        <% if current_admin? %>
        <td><%= link_to 'Delete', user_reaction_path(@user, reaction), method: 'DELETE'%></td>
        <% end %>
        <td><%= link_to 'Edit', edit_user_reaction_path(@user, reaction), method: 'GET' %></td>
      </tr>
    <% end %>
    </table>
  </section>
<% end %>