<section class="hero is-small is-success is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
        <h1 class="title">
        Welcome, <%=@user.name%>!
        </h1>
        <h2 class="subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </h2>
    </div>
  </div>
</section>

<% if current_user.admin? %>
<section>
    <h1><%= link_to 'Add a color to the Chromotherapy database', new_user_color_path(@user) %></h1>
    <h1>Colors Added by <%= @user.name %>
    <table>
      <tr>
        <th>Name</th>
        <th>Hex Value</th>
      </tr>
    <% @user.colors.each do |color| %>
      <tr id="color-<%= color.id %>">
        <td><%= link_to color.name, color_path(color)%></td>
        <td bgcolor="<%= color.hex_value%>"><%= color.hex_value %></td>
        <td><%= link_to 'Delete', user_color_path(@user, color), method: 'DELETE', data: {confirm: "Really delete #{color.name}"}  %></td>
        <td><%= link_to 'Edit', edit_user_color_path(@user, color), method: 'GET' %></td>
      </tr>
    <% end %>
    </table>
  </section>
<% end %>