
  <div class="container">
      <div class="columns is-multiline">
        <% @reactions.each do |reaction| %>
          <%= link_to reaction_path(reaction) do %>
          <div class="column box has-text-centered" id="reaction-<%= reaction.id %>"=>
            <p class="title"><%= reaction.word %></p>
            <p class="sub-title"><%= reaction.definition %></p>
             <% if current_admin? %>
              <%= link_to 'delete', user_reaction_path(reaction.user, reaction), method: 'DELETE', data: {confirm: "Really delete #{reaction.word}"} %>
              <%= link_to 'edit', edit_user_reaction_path(reaction.user, reaction), method: 'GET' %>
            <% end %>
          </div>
          <% end %>
     <% end %>
      </div>
  </div>





