  <div class="container">
      <div class="columns is-multiline">
        <% @colors.each do |color| %>
          <%= link_to color_path(color) do %>
          <div class="column" id="color-<%= color.id %>"=>
            <style>
            #color-<%= color.id %> {background-color: <%= color.hex_value %>;
                                    height: 300px;
                                    width: 300px;}
            </style>
            <p class="title has-text-white has-text-centered"><%= color.name %></p>
            <% if current_admin? %>
              <%= link_to 'delete', user_color_path(color.user, color), method: 'DELETE', data: {confirm: "Really delete #{color.name}"} %>
              <%= link_to 'edit', edit_user_color_path(color.user, color), method: 'GET' %>
            <% end %>
          </div>
          <% end %>
     <% end %>
      </div>
  </div>





