
  <% if current_user.admin? %>
  <div class="hero">
    <div class="hero-body">
      <%= button_to  "add color to database", new_admin_color_path, class: "button" %>
    </div>
  </div>
  <%end%>
  <div class="container">
      <div class="columns is-multiline">
        <% @colors.each do |color| %>
          <%= link_to color_path(color) do %>
          <div class="column" id="color-<%= color.id %>"=>
            <style>
            #color-<%= color.id %> {background-color: <%= color.hex_value %>;
                                    height: 300px;
                                    width: 300px;}
            </style>
            <p class="title has-text-white has-text-centered"><%= color.name %></p>
          </div>
          <% end %>
     <% end %>
      </div>
  </div>





