<section class="hero is-white is-fullheight">
  <div class="hero-body">
      <div class="container">
        <div class="columns is-hcentered">
          <section class="column">
            <h1 class="title"><%= @color.name %></h1>
            <p class="sub-title"><%= @color.hex_value %></p>
          </section>
          <section class="column">
            <%= render partial: 'box'%>
          </section>

          <section class="column">
            <h1>Reactions</h1>
            <table class="table">
              <tr>
                <th>Word</th>
                <th>Definition</th>
              </tr>
              <% @color.reactions.distinct.each do |reaction| %>
              <tr id="reaction-<%= reaction.id %>">
                <td><%= link_to reaction.word, reaction_path(reaction)%></td>
                <td><%= reaction.definition%></td>
              </tr>
              <% end %>
            </table>
          </section>
          <section class="column">
          <% if current_user %>
            <%= render partial: '/surveys/form' %>
          <% else %>
            <h1 class="title is-6">
              You need to be a registered user to log a reaction.
            </h1>
            <%= button_to  'sign up', new_user_path, class: 'button' %>
          <% end %>
          </section>
        </div>
      </div>
    </div>
</section>