
<section>
  <%= render 'box'%>
</section>
<section>
  <h1 class="title"><%= @color.name %></h1>
  <p class="sub-title"><%= @color.hex_value %></p>
</section>

<section>
  <h1>Reactions</h1>
  <table>
    <tr>
      <th>Word</th>
      <th>Definition</th>
    </tr>
    <% @color.reactions.each do |reaction| %>
    <tr id="reaction-<%= reaction.id %>">
      <td><%= link_to reaction.word, reaction_path(reaction)%></td>
      <td><%= reaction.definition%></td>
    </tr>
    <% end %>
  </table>
</section>