<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="<%= root_path %>" style="font-weight:bold;">
      Chromotherapy
      </a>
      <span class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <%= link_to 'Colors', colors_path, class: 'navbar-item' %>
        <%= link_to 'Reactions', reactions_path, class: 'navbar-item' %>
        <% if current_admin? %>
          <%= link_to 'Surveys', admin_surveys_path, class: 'navbar-item' %>
        <% end %>
      </div>
      <div class="navbar-end">
        <% if current_user %>
          <%= link_to 'my profile', user_path(current_user), class: 'navbar-item' %>
          <%= link_to 'log out', logout_path, class: 'navbar-item'%>
        <% else%>
          <%= link_to 'sign up', new_user_path, class: 'navbar-item'%>
          <%= link_to 'log in', login_path, class: 'navbar-item'%>
        <% end %>
      </div>
    </div>
  </div>
</nav>
<script type="text/javascript">
(function() {
  var burger = document.querySelector('.burger');
  var nav = document.querySelector('#'+burger.dataset.target);
 
  burger.addEventListener('click', function(){
    burger.classList.toggle('is-active');
    nav.classList.toggle('is-active');
  });
})();
</script>
